{% extends "email/email_base.html" %}

{% block title %}Cita Agendada!{% endblock %}

{% block content %}
<table width="100%" style="border-collapse: collapse;">
    <tr>
        <td style="font-size: 20px; font-weight: bold; color: #1C198E;">
            ¡Tu cita ha sido agendada!
        </td>
    </tr>
    <tr>
        <td style="padding-top: 5px; font-size: 16px; color: #040041; text-align: left;">
            <strong>¡Hola {{ lead.first_name }}!</strong>,
        </td>
        <td style="padding-top: 15px; font-size: 16px; color: #040041; text-align: left;">
            <strong>¡Tu cita fue agendada con éxito!</strong>
        </td>
    </tr>
    <tr>
        <td style="font-size: 16px; color: #040041; text-align: left;">
            Tu cita ha sido agendada para el <strong>{{ fecha }}</strong> a las <strong>{{ hora_inicio }}</strong>.
        </td>
    </tr>
    
    <tr>
        <td style="padding-top: 15px; font-size: 16px; color: #040041; text-align: left;">
            El enlace a la reunión será enviado luego de tu confirmación 48 hs antes del día de la reunión. No te preocupes, ¡nosotros te enviamos un mail para recordarlo!
        </td>
    </tr>
    <tr>
        <td style="padding-top: 15px; font-size: 16px; color: #040041; text-align: left;">
            Si tienes algún inconveniente, puedes ponerte en contacto con nuestro soporte a través de nuestra web.
        </td>
    </tr>
</table>
{% endblock %}
