{% extends "email/email_base.html" %}

{% block title %}Cita Agendada!{% endblock %}

{% block content %}
<table width="100%" style="border-collapse: collapse;">
    <tr>
        <td style="font-size: 20px; font-weight: bold; color: #1C198E;">
            ¡Tu cita ha sido agendada!
        </td>
    </tr>
    <tr>
        <td style="padding-top: 5px; font-size: 16px; color: #040041; text-align: left;">
            Hola <strong>{{ lead.username }}</strong>,
        </td>
    </tr>
    <tr>
        <td style="font-size: 16px; color: #040041; text-align: left;">
            Tu cita con <strong>{{ especialista.username }}</strong> ha sido agendada para el <strong>{{ fecha }}</strong> a las <strong>{{ hora_inicio }}</strong>.
        </td>
    </tr>
    <tr>
        <td style="padding-top: 15px; font-size: 16px; color: #040041; text-align: left;">
            Para garantizar tu participación, recibirás el enlace de la reunión 48 horas antes, luego de confirmar tu asistencia.
        </td>
    </tr>
    <tr>
        <td style="padding-top: 15px; font-size: 16px; color: #040041; text-align: left;">
            Si tienes alguna pregunta o necesitas modificar la cita, no dudes en contactarnos.
        </td>
    </tr>
</table>
{% endblock %}
