{% extends 'email/email_base.html' %}

{% block content %}
    <table align="center" width="600" style="background: #FFFFFF; border-radius: 12px; box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1); text-align: center; border-collapse: collapse;">
        <tr>
            <td style="padding: 20px; text-align: center;">
                <h2 style="color: #1C198E;">Resultados de tu diagnóstico</h2>
                <p><strong>¡Hola{{ user.first_name }}!</strong>,</p>
                <p>En base a las respuestas dadas en el cuestionario, desarrollamos una serie de sugerencias y recomendaciones para que tengas en cuenta. Te invitamos a profundizar este análisis en una cita virtual con uno de nuestros especialistas.</p>

                {% for question_id, recommendations_list in recommendations.items %}
                    <div style="margin-bottom: 15px; text-align: left;">
                        <ul style="padding-left: 20px;">
                            {% for recommendation in recommendations_list %}
                                <li>{{ recommendation | linebreaks }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}

                <p>Profundizá esta información con uno de nuestros especialistas y conocé los servicios que tenemos para ofrecerte!</p>
                <p>Gracias por confiar en nosotros,</p>
                <p>equipo Vocaltech</p>
            </td>
        </tr>
    </table>
{% endblock %}
