{% extends 'email/email_base.html' %}

{% block content %}
    <table align="center" width="600" style="background: #FFFFFF; border-radius: 12px; box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1); text-align: center; border-collapse: collapse;">
        <tr>
            <td style="padding: 20px; text-align: center;">
                <h2 style="color: #1C198E;">Resultados de tu diagnóstico</h2>
                <p>Hola <strong>{{ user.username }}</strong>,</p>
                <p>Hemos analizado tus respuestas y estas son nuestras recomendaciones para ti:</p>

                {% for question_id, recommendations_list in recommendations.items %}
                    <div style="margin-bottom: 15px; text-align: left;">
                        <strong>🟢 Recomendación basada en tu respuesta:</strong>
                        <ul style="padding-left: 20px;">
                            {% for recommendation in recommendations_list %}
                                <li>{{ recommendation | linebreaks }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}

                <p>Si deseas más información sobre los servicios recomendados, no dudes en contactarnos.</p>
                <p>¡Gracias por confiar en VocalTech!</p>
            </td>
        </tr>
    </table>
{% endblock %}
