{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Cita Agendada</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700&display=swap');

        body, table, td {
            font-family: 'Mulish', sans-serif;
        }
    </style>
</head>
<body style="font-family: 'Mulish', sans-serif; background-color: #F4F4FC; color: #040041; margin: 0; padding: 20px;">

    <!-- Contenedor principal -->
    <table align="center" width="600" style="background: #FFFFFF; border-radius: 12px; box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1); text-align: center; border-collapse: collapse;">
        <tr>
            <td style="padding: 20px;">
                <!-- Logo de VocalTech -->
                <img src="https://drive.google.com/uc?id=1VxbXWzE-hIws0oeXOi6I3upT19oXvQcl" alt="VocalTech" width="220" style="margin-bottom: 10px;">

                <!-- Título -->
                <table width="100%" style="border-collapse: collapse;">
                    <tr>
                        <td style="font-size: 20px; font-weight: bold; color: #1C198E;">
                            ¡Tu cita ha sido agendada!
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top: 5px; font-size: 16px; color: #040041; text-align: left;">
                            Hola <strong>{{ lead.username }}</strong>,
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: 16px; color: #040041; text-align: left;">
                            Tu cita con <strong>{{ especialista.username }}</strong> ha sido agendada para el <strong>{{ fecha }}</strong> a las <strong>{{ hora_inicio }}</strong>.
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top: 15px; font-size: 16px; color: #040041; text-align: left;">
                            Si tienes alguna pregunta o necesitas modificar la cita, no dudes en contactarnos.
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top: 20px; font-size: 14px; color: #ACA7F2;">
                            Gracias, <br>
                            <span style="font-weight: bold; color: #1C198E;">El equipo de vocaltech</span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <!-- Footer -->
        <tr>
            <td style="background: #040041; padding: 20px; border-radius: 0 0 12px 12px;">
                <table width="100%" style="border-collapse: collapse;">
                    <tr>
                        <td align="left">
                            <img src="https://drive.google.com/uc?id=1BoRixnGtOxbe6kNUDLBIZxgtN82n_JXF" alt="VocalTech" width="120">
                        </td>
                        <td align="right">
                            <img src="https://drive.google.com/uc?id=1XI_rUwojE_5D0bHSe-qFGBVk-VLtQLdI" alt="VOS y tu VOZ" width="60">
                        </td>
                        <td align="right">
                            <img src="https://drive.google.com/uc?id=1O34ix0RPGREQ6Z2UJh-LSWNyCBsMonPj" alt="NoCountry" width="120">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
