/* Estilo para los botones de navegación */
.swiper-button-next,
.swiper-button-prev {
  color: #F0F0F0 !important; /* Cambiar color de las flechas */
  background-color: var(--deep-blue) !important; /* Fondo semitransparente */
  border-radius: 50% !important; /* Convertir en círculos */
  width: 45px !important;
  height: 45px !important;
  opacity: 0.6 !important; /* Opacidad al 60% */
}

/* Añadir un hover para que resalten */
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: var(--lavender) !important; /* Cambiar fondo al pasar el mouse */
  color: #F0F0F0 !important; /* Cambiar el color del icono */
}

/* Ajustar el tamaño del icono */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px !important;
}

.swiper {
  max-height: 768px !important;
  max-width: 2560px !important;
  width: 100% !important;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  padding: 0 4rem !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 740px !important;
  height: 350px !important;
  flex-shrink: 0 !important;
  border-radius: 6px !important;
  border: 7px solid var(--aqua) !important;
}

.swiper-slide img {  
  width: 237px !important;
  height: 237px !important;
  max-width: 100% !important;
  max-height: 100% !important;
  object-fit: cover !important;
  border-radius: 9999px;
}

.swiper-pagination-bullet{
  background-color: var(--deep-blue) !important; /* Fondo semitransparente */
  }
  .swiper-pagination{
    background: transparent;
}